<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>Disabled</key>
		<false/>
		<key>Label</key>
		<string>net.rgielen.brew.postgres</string>
        <key>RunAtLoad</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
            <key>POSTGRES_VERSION</key>
            <string>10.1</string>
            <key>POSTGRES_USER</key>
            <string>rene</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/rene/dotfiles/services/scripts/postgres-brew.sh</string>
            <string>run</string>
        </array>
        <key>ServiceDescription</key>
        <string>PostgreSQL (Homebrew) Service</string>
    </dict>
</plist>
